<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gupta Accounting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/logo_cropped_transparent.png" alt="Gupta Accounting" class="img-fluid" style="width:75px; height:auto" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @*<div class="dropdown show">
                                <button class=" btn dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*@
                            <a class="nav-link text-dark" asp-area="" asp-page="/Services">Services</a>@*<span class="caret"></span>*@
                            @*</button>*@

                            @*<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/Services/Bookkeeping">Bookkeeping</a>
                                <a class="dropdown-item" href="/Services/PersonalIncomeTaxation">Personal Income Taxation</a>
                                <a class="dropdown-item" href="/Services/SelfEmployedBusinessTaxes">Self-Employed Business Taxes</a>*@
                            <!-- TODO: Make a drop down within a dropdown
                            <div class="drop-item dropright">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tax Returns
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Services/TaxReturns/PST">PST Returns</a>
                                    <a class="dropdown-item" href="/Services/TaxReturns/GST">GST Returns</a>
                                    <a class="dropdown-item" href="/Services/TaxReturns/WCB">WCB Returns</a>
                                </div>
                            </div>
                                -->
                            @*<a class="dropdown-item" href="/Services/GSTPSTWCB">GST/PST/WCB Returns</a>
                                <a class="dropdown-item" href="/Services/TaxReturns">Tax Returns</a>
                                <a class="dropdown-item" href="/Services/Payroll">Payroll</a>
                                <a class="dropdown-item" href="/Services/PreviousYearFilings">Previous Year Filings</a>
                                <a class="dropdown-item" href="/Services/GovernmentRequisiteFormApplications">Government Requisite Form Applications</a>*@
                            @*</div>
                                </div>*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-info" href="/FreeConsultation">FREE CONSULTATION</a>
                    </li>

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <main role="main" class="">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GuptaAccounting - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
