@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">
    <div class="row h-50" style="overflow:hidden">
        <div class="justify-content-center">
            <img src="~/images/login-keys.jpg" style="z-index:2; width:100%; height:auto; overflow: hidden" />
            <div class="col-md-4 p-4 loginform" style="z-index:3">
                <form id="account" method="post">
                    <h1 class="text-white border-bottom border-white p-4">@ViewData["Title"]</h1>
                    <div asp-validation-summary="All" class="text-white"></div>
                    <div class="form-group">
                        <label class="text-white" asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-white" asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="text-white" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
