/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Home Page*/
.HomeBackgroundImage {
    /* Add the blur effect */
    width: 100%;
    height: auto;
    min-height: 100px;
    filter: brightness(30%);
    
    
}

.HomeText {
    /*background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */
    color: #1872a4;
    font-weight: bold;
    font-family: Forte;
    /*border: 3px solid #f1f1f1;*/
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 5vw;
}

.LogoHomeTransparent {
    width: 80%;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.Services {
    background-color: #1872a4;
    width: inherit;
    height: auto;
}

.HomeTextStyle {
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.row {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: inherit;
    height: inherit;
}

img.card-img-top {
    height: 125px;
}

.card-body {
    padding: 1.50rem;
    height: 200px;
}

.card-body:hover {
    background-color: #d6d5d5;
}

img.card-img-top {
    border-bottom-color: #1872a4;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.AboutMe {

}

.ProfilePhoto {
    width: inherit;
    height: auto;
}

.AboutMeText {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    max-width: 600px;
    height: auto;
}

.AboutMeInfo {

}

.ShareAboutMe {
    background-color: mediumpurple;
    width: inherit;
    height: auto;
}

.SocialMediaIcon {
    width: 70px;
    height: auto;
    padding: 10px;
}

/*Services Page*/

.ServicesHeader {
    background-color: #6196ca;
}

.ServicesText {
    z-index: 4;
    position: absolute;
    height: inherit;
    width: 50%;
}

.ServicesPicture {
    z-index: 3;
    background-color: #6196ca;
}

.SideNav {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 30%;

    width: 100%
}

u:hover {
    color: #1872a4;
}