@page
@model GuptaAccounting.Pages.FreeConsultationModel
@{
    ViewData["Title"] = "FreeConsultation";
}

<head>
    <script src="~/js/site.js"></script>
</head>

<div class="container" style="padding:30px;">
    <br />
    <h1 class="text-info">Get a FREE Consultation</h1>
    <br />
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Client.Name"></label>
            </div>
            <div class="col-6">
                <input type="text" asp-for="Client.Name" class="form-control" />
            </div>
            <span class="text-danger col-3" asp-validation-for="Client.Name"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Bookkeeping"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Bookkeeping" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Client.GST_PST_WCB_Returns"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.GST_PST_WCB_Returns" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Client.Payroll_Services"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Payroll_Services" value="true" class="form-control" />
            </div>
            @*Add server side validation here*@
            <span class="text-danger col-3" id="CheckboxError"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Government_Requisite_Form_Applications"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Government_Requisite_Form_Applications" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Client.Personal_Income_Taxation"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Personal_Income_Taxation" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Client.Tax_Returns"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Tax_Returns" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Client.Self_Employed_Business_Taxes"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Self_Employed_Business_Taxes" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Client.Previous_Year_Filings"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Previous_Year_Filings" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Client.Personal_Income_Taxation"></label>
            </div>
            <div class="col-1">
                <input asp-for="Client.Personal_Income_Taxation" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Client.Other"></label>
            </div>
            <div class="col-6">
                <input type="text" asp-for="Client.Other" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Client.ContactNumber"></label>
            </div>
            <div class="col-6">
                <input asp-for="Client.ContactNumber" class="form-control" placeholder="111-222-3333" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" autocomplete="off" />
            </div>
            <span class="text-danger col-3" asp-validation-for="Client.ContactNumber"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Submit" onclick="return CheckCheckboxes()" class="btn btn-primary form-control" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}