@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="HomeText text-white position-absolute" style="width: 50%;">
                <h1 class="display-4">Here for you</h1>
                <p class="lead">I take the extra time needed so that you can feel stress-free. Get a free consultation to get started.</p>
                <a class="nav-link text-white btn btn-info" style="width:50%" href="/FreeConsultation">FREE CONSULTATION</a>
            </div>
            <img src="~/images/HomeImage.jpg" class="HomeBackgroundImage" />

            @*<img src="~/images/logo_transparent.png" class="LogoHomeTransparent" />*@
            @*<h2 class="">Here for you</h2>*@
        </div>
        <div class="row justify-content-center">
            <div class="AboutMe p-5">
                <img src="~/images/DadProfilePhoto.jpg" class="ProfilePhoto mr-5 d-inline-block rounded shadow border-white border" />
                <div class="AboutMeInfo d-inline-block">
                    <h1>About Me</h1>
                    <p class="border-right-0 border-bottom-0 border-dark border p-2 AboutMeText">
                        Hi my name is Vijay and I am an accountant. I have been running Gupta Accounting for the past 4 years. I am able to provide many services to fit all your needs. With my personal touch, you can have a stress free life without all the headaches. Simply get a free consultation to get started.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="Services p-5">
                <div class="text-center text-white HomeTextStyle">
                    <h2>Services</h2>
                    <p>Click any of the services below to check them out!</p>
                </div>
                <div class="cards">
                    <div class="row justify-content-center">
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/Bookkeeping.jpg" class="card-img-top" alt="Bookkeeping">
                            <div class="card-body">
                                <a href="/Services#Bookkeeping" class="card-title btn btn-primary ">Bookkeeping</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/PersonalIncomeTax.jpg" class="card-img-top" alt="Personal Income Taxation">
                            <div class="card-body">
                                <a href="/Services#PersonalIncomeTaxation" class="card-title btn btn-primary ">Personal Income Taxation</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/BusinessTax.jpg" class="card-img-top" alt="Self-Employed Business Taxes">
                            <div class="card-body">
                                <a href="/Services#SelfEmployedBusinessTaxes" class="card-title btn btn-primary ">Self-Employed Business Taxes</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/GST-PST-WCB.jpg" class="card-img-top" alt="GSTPSTWCB">
                            <div class="card-body">
                                <a href="/Services#GST-PST-WCB-Returns" class="card-title btn btn-primary ">GST/PST/WCB Returns</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/TaxReturn.jpg" class="card-img-top" alt="Tax Returns">
                            <div class="card-body">
                                <a href="/Services#TaxReturns" class="card-title btn btn-primary ">Tax Returns</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/Payroll.jpg" class="card-img-top" alt="Payroll Services">
                            <div class="card-body">
                                <a href="/Services#Payroll" class="card-title btn btn-primary ">Payroll</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                        <div class="card shadow border-white m-4" style="width: 12rem;">
                            <img src="~/images/PreviousYearFilings.jpg" class="card-img-top" alt="Previous Year Filings">
                            <div class="card-body">
                                <a href="/Services#PreviousYearFilings" class="card-title btn btn-primary ">Previous Year Filings</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                        <div class="card shadow border-white m-4 p-0" style="width: 12rem;">
                            <img src="~/images/FillingForm.jpg" class="card-img-top" alt="Govt. Form Applications">
                            <div class="card-body">
                                <a href="/Services#GovernmentRequisiteFormApplications" class="card-title btn btn-primary ">Govt. Form Applications</a>
                                <p class="card-text">description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ShareAboutMe">
                <h4 class="text-center p-5">Share about me online</h4>
                <div class="row justify-content-center pb-5">
                    <a href="https://www.facebook.com/" target="_blank"><img src="~/images/FacebookIcon.png" class="SocialMediaIcon" /></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="~/images/InstagramIcon.png" class="SocialMediaIcon" /></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/LinkedinIcon.png" class="SocialMediaIcon" /></a>
                    <a href="https://www.twitter.com/" target="_blank"><img src="~/images/TwitterIcon.png" class="SocialMediaIcon" /></a>
                </div>
            </div>
        </div>
    </div>
</body>