@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row p-5">
        <div class="col"></div>
        <div class="col-10">
            <h1 class="display-3">Privacy Policy</h1>
            <hr />
            <p>
                I fully respect the privacy and sensitive information of all my clients, and promise to not 
                give out this information to any other person/organization. <br />
                Here is some more content as an example because I don't know what else to write :)
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>
