<head>
    <meta content="" text /html; charset=utf-8"" http-equiv="" Content-Type"">
    <title>
        New Client
    </title>

    <style type="" text /css"">
    </style>

</head>

<header style="border-bottom:solid;border-color:royalblue;border-width:medium;">
    <img src=""cid:{0}"" style="" display:inline-block;width:200px;height:200px;"" />
    <p style=" display:inline-block;font-size:40px;padding:5px;color:#1872a4;font-family:Arial, Helvetica, sans-serif"> Here for you</p>
    <br />
</header>
<body>
    <center style=" background-color: lightgrey; border: solid; border-color: black; border-width: thin;">
        <h2 style="" font-size:30px""> Hi Vijay, you have a new consultation request</h2>
        <br />
        <hr />
        <h1> Client Info</h1>

        <table>
            <tr>
                <th style="" padding:10px;"">
                    Name
                </th>
                <th style="" padding:10px;"">
                    Contact Number
                </th>
                <th style="" padding:10px;"">
                    Submission Time
                </th>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        <br />
        <h3> Work Type</h3>
        <table style="" text-align:left;display:inline-block;padding:10px"">
            <tr>
                <th>
                    Bookkeeping
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    Personal Income Taxation
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    Self-Employed Business Taxes
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    GST/PST/WCB Returns
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    Other:
                </th>
                <th>

                </th>
            </tr>
        </table>
        <table style="" text-align:left;display:inline-block;padding:10px"">
            <tr>
                <th>
                    Tax Returns
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    Payroll Services
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    Previous Year Filings
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <th>
                    Govt. Requisite Form Applicaitons
                </th>
                <th>

                </th>
            </tr>
        </table>
    </center>
    <br />
</body>
